  <div class="mx-auto rounded-xl shadow-lg p-8 md:w-1/2 space-y-4">
    <div class="shrink-0">
      <h1><%= current_page.title %></h1>
      <%= current_page.created_at %>
    </div>
    <div class="text-xl pt-4">
    	<%= content.html(:text) %>
  	</div>
  </div>